@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&family=Poppins:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid #101010;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.1s;
  mix-blend-mode: color-burn;
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #373737;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.15s;
}

body {
  overflow-x: hidden;
  background-color: #DDDDDD;
}

.loader {
  width: 100%;
  position: relative;
  z-index: 999;
  top: 0;
}
.loader .blinder-container {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
}
.loader .blinder {
  background-color: #101010;
  flex: 1;
  height: 100vh;
  transform-origin: top;
}

.container {
  padding: 10px;
  margin: 0 100px;
}

.mask {
  overflow: hidden;
}
.mask .animText {
  transform: translateY(-140%);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mb-nav-toggle {
  display: none;
}

.nav-logo img {
  height: 50px;
  width: 50px;
}

.nav-links {
  transform: translateX(0%);
}
.nav-links a {
  text-decoration: none;
  color: #373737;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  position: relative;
}
.nav-links a span {
  font-family: "Fira Code", monospace;
  font-weight: 700;
  margin-left: 30px;
}
.nav-links a ::before {
  transition: width 0.5s ease;
  content: "";
  position: absolute;
  width: 0%;
  bottom: -7px;
  height: 2px;
  background-color: #373737;
}
.nav-links a:hover ::before {
  width: 80%;
}

.mainContent {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
}

.textContainer {
  color: #101010;
  margin-top: 140px;
  width: 900px;
  font-family: "Poppins", sans-serif;
}
.textContainer .subText {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: #373737;
}
.textContainer .mainText, .textContainer .mainSubText {
  font-size: 72px;
  font-weight: 600;
}
.textContainer .mainSubText {
  line-height: 80px;
  color: #373737;
}
.textContainer .descriptionText {
  width: 500px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
}

.imageContainer {
  position: relative;
}
.imageContainer img {
  position: absolute;
  bottom: 5vh;
  left: -50px;
  height: 500px;
  z-index: -100;
}

.aboutContainer {
  margin-top: 60px;
}

.aboutHeadText {
  display: inline-block;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #101010;
  position: relative;
}
.aboutHeadText .subText {
  font-family: "Fira Code", monospace;
  font-weight: 400;
  padding-right: 10px;
  color: #373737;
}
.aboutHeadText ::after {
  content: "";
  position: absolute;
  width: 180px;
  height: 1px;
  background-color: #373737;
  right: -200px;
  bottom: 50%;
}

.descriptionAboutText {
  font-size: 16px;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  color: #373737;
  display: flex;
  flex-direction: row;
}
.descriptionAboutText .leftDesc {
  width: 50%;
}
.descriptionAboutText .leftDesc span {
  display: inline-block;
  margin-top: 20px;
}
.descriptionAboutText .rightDesc {
  padding-left: 30px;
}
.descriptionAboutText .rightDesc .DesList {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.descriptionAboutText .rightDesc .DesList li {
  text-decoration: none;
  list-style: none;
  padding: 5px;
  font-family: "Fira Code", monospace;
}

.content {
  color: #101010;
}

.content:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(1.5);
  background-color: black;
  opacity: 100;
}

.content:hover ~ .cursor2 {
  opacity: 0;
}

@media (max-width: 40em) {
  .nav-links {
    z-index: 1000;
    position: fixed;
    inset: 0 0 0 30%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: min(30vh, 10rem) 2em;
    background-color: rgba(255, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
    transform: translateX(0%);
    transition: transform 350ms ease;
  }
  .mb-nav-toggle {
    display: block;
    z-index: 9999;
    position: absolute;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
}/*# sourceMappingURL=style.css.map */